$this: 'Lists';

.#{$this} {
  padding: 1rem;
  &--columns {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    background: rgba(205, 247, 255, 0.5);
    border-radius: 0.75rem;
    &__item {
      padding: 1rem;
      width: 25%;
    }
  }
}
